:host {
    
    ::ng-deep mat-tab-header {
    .mat-tab-label-container {

        .mat-tab-labels {
            div:first-child
            {
                flex: 1;
                user-select: none;
                pointer-events: none;
                color: red;
                justify-content: flex-start;
            }
        }
    }
}
}